@using Restaurant;
@model List<Product>

@{
    ViewData["Title"] = "index";
    Layout = "_Layout";


}
@section CssAndScript {
    <link href="~/css/indexhome.css" rel="stylesheet" />
   
}

<div class="showProd">
    @foreach (var product in Model)
    {
           <div  class="eachRow">
            <a class="clickShowDet" id="@product.ProductId" asp-controller="Product" asp-action="ShowDetails" asp-route-id="@product.ProductId">

            <div><img class="image" src="/home/getImage?productId=@product.ProductId">@product.Images</div>
            <div class="idProd">@product.ProductId</div>
            <div class="name">@product.ProductName</div>
            <div class="price">@product.Price $</div>
            <div class="weight">@product.Weight g</div>

               </a>
            <button onclick="AddToBasket(  @product.ProductId)" class="addToBasket">+</button>
        </div>
     
    }
</div>






<script>
   

    function AddToBasket( Id) {
    

        let availablen = $(".availablen").val();
        $.ajax({
            type: "POST",
            url: "/Basket/AddToBasket",
            data: { "id": Id,  "availablen": availablen },
            dataType: "html",
            success: function (html) {
               RenderBasket(html);
            }

        });
    }
  
</script>